* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(113, 140, 204);
}

.sections {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    width: 1000px;
    margin: 150px auto;
    background-color: white;
    list-style-type: none;
}

.section {
    display: inline-block;
    width: 370px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 20px;
}

.section:nth-child(1) {

    background-color: rgb(232, 232, 232);
}

.section_image {
    display: block;
    margin: auto;
}

.section_title {
    text-align: center;
    padding-top: 20px;
    color: rgb(0, 64, 109);
    margin-bottom: 20px;
}

.section_text {
    text-align: center;
    color: rgb(127, 177, 218);
    margin: auto;
    margin-bottom: 20px;
    width: 250px;
}

.section_price {
    font-family: serif;
    font-size: 25px;
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(0, 64, 109);
    margin: auto;
    padding-top: 10px;
}